{% extends "base.html" %}

{% block content %}
<div class="row">
  {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
<div class="col-md-6">
<a href="{% url "tambah_pembelianbuku" %}" class="btn btn-primary btn-sm">Tambah</a>

</div>



</div>
<div class="row">
    <div class="col-md-12">

       
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">JUDUL</th>
      <th scope="col">ISBN</th>
      <th scope="col">TAHUN TERBIT</th>
      <th scope="col">SINOPSIS</th>
      <th scope="col">KUANTITAS</th>
      <th scope="col">HARGA</th>
      <th scope="col">created_at</th>
       <th scope="col">update_at</th>
      <th scope="col">AKSI</th>
    </tr>
  </thead>
  <tbody>
    {%for a in pembelianbuku%}
    <tr>
      <th scope="row">1</th>
      <td>{{a.pembelianbukuId}}</td>
      <td>{{a.judul}}</td>
    `<td>{{a.isbn}}</td>
    `<td>{{a.tahunTerbit}}</td>
    `<td>{{a.sinopsi}}</td>
    `<td>{{a.kuantitas}}</td>
    `<td>{{a.harga}}</td>
    `<td>{{a.created_at}}</td>
    `<td>{{a.update_at}}</td>
    
    `<td>
      <a href="{%url 'edit_pembelianbuku' a.id%}"class="btn btn-warning btn-sm">Edit</a>
      <a href="{%url 'hapus_pembelianbuku' a.id%}" class="btn btn-danger btn-sm">Hapus</a>'
      <a href="{%url 'view_pembelianbuku' a.id%}" class="btn btn-success btn-sm">view</a>
    </td>

    </tr>
    {% endfor%}
   
  </tbody>
</table>

    </div>
    
</div>

{% endblock %}